@import "~bootstrap/dist/css/bootstrap.css";

.btn {
    background-color: rgb(165, 30, 255); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 14px; /* Some padding */
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(185, 65, 225);
  }